/* Global Styles */

* {
    margin: 0;
}

.btn {
    font-family: 'Satoshi', sans-serif;
    margin-top: 10px;
    border-radius: 0px !important;
    border-color: #E31382 !important;
    color: #E31382 !important;
}

.btn:hover {
    background-color: #E31382 !important;
    border-color: white !important;
    color: white !important;
}


/* Hero Section */

.hero {
    margin: 15%;
}

.hero h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.hero span {
    color: #E31382;
}

/* About Section */

.about {
    margin: 30% 20%;
    position: relative;
}

.about h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;
}

.about img {
    width: 320px;
    height: auto;
}

.about-description {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    float: right;
    width: 55%;
    align-content: center;
    margin-top: 5%;
}

/* Project Section */

.project {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

.project h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;
}

.project-section {
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-bottom: 20%;
}

.project-section h2 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    color: #E31382;
}

.project-section p {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    float: left;
    width: 100%;
    align-content: center;
    /* border: solid 5px red; */
}

.project-section img {
    width: 600px;
    height: auto;
    float: right;
}

.project-section a {
    text-decoration: none;
}

/* Contact Section */

.contact {
    margin: 20% 20% 5%;
    /* border: solid 5px red; */
    height: 600px;
}

.contact h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;
    /* border: solid 5px red; */
}

.contact p {
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    float: left;
    width: 100%;
    align-content: center;
    /* border: solid 5px red; */
}

.contact a {
    text-decoration: none;
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}

.contact .personal-info {
    display: grid; 
    float: left;
    /* border: solid 5px red; */
}

.contact .icon-link {
    align-items: baseline;
    gap: 1rem;
}

.contact form {
    float: right;
    /* border: solid 5px red; */
    width: 60%;
}

.contact input,
.contact textarea {
    font-family: 'Satoshi', sans-serif;
    border: solid 1px gray;
    border-radius: 8px;
}

/* Footer Section */

footer {
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    height: 350px;
    background-color: #333333;
    padding: 4.8rem 0; 
    text-align: center;
    color: white;
}

footer p {
    padding-top: 50px;
}

.footer-links {
    display: flex;
    justify-content: center;
}


.icons {
    padding-top: 50px;
    transition: 0.3s;
}

.icons:hover {
    transform: translate(0, -10px);
    cursor: pointer;
}


