/* Global Styles */

* {
    margin: 0;
}

.btn {
    font-family: 'Satoshi', sans-serif;
    margin-top: 10px;
    border-radius: 0px !important;
    border-color: #E31382 !important;
    color: #E31382 !important;
}

.btn:hover {
    background-color: #E31382 !important;
    border-color: white !important;
    color: white !important;
}

/* Hero Section */

.hero {
    margin: 15%;
    /* border: solid 5px red; */
}

.hero h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.hero span {
    color: #E31382;
}

/* About Section */

.about {
    margin: 30% 20%;
    position: relative;
    /* border: solid 5px red; */
}

.about h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;
}

.about img {
    width: 320px;
    height: auto;
}

.about-description {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    float: right;
    width: 55%;
    align-content: center;
    /* border: solid 5px red; */
    margin-top: 5%;
}

/* Project Section */
.project {
    /* border: solid 5px red; */
    margin: 15%;
    position: relative;
}

.project h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;
}

.project-section {
    height: 500px;
    border: solid 5px red;
    width: 100%;
    grid-template-columns: max-content;
}

.project-section h2 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    color: #E31382;
}

.project-section p {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    float: left;
    width: 100%;
    align-content: center;
    border: solid 5px red;
}

.project-section img {
    width: 600px;
    height: auto;
    float: right;
}

.btn-holder {
    border: solid 5px red;
}


